# --- مفاتيح سوبابيز (Supabase) ---
NEXT_PUBLIC_SUPABASE_URL=GOOGLE_CLIENT_SECRET
NEXT_PUBLIC_SUPABASE_ANON_KEY=secret

# --- مفاتيح جوجل (Google) ---
GOOGLE_CLIENT_ID=secret
GOOGLE_CLIENT_SECRET=secret