NEXT_PUBLIC_SUPABASE_URL=secret
NEXT_PUBLIC_SUPABASE_ANON_KEY=secret

GOOGLE_CLIENT_ID=secret
GOOGLE_CLIENT_SECRET=secret

NEXT_PUBLIC_ADMIN_EMAIL=secret
NEXT_PUBLIC_ADMIN_PIN=secret

VERCEL_OIDC_TOKEN=secret"

GEMINI_API_KEY=secret

# Google AdMob Test IDs
NEXT_PUBLIC_ADMOB_APP_ID=secret
NEXT_PUBLIC_ADMOB_REWARDED_ID=secret
NEXT_PUBLIC_ADMOB_BANNER_ID=secret

CAPGO_TOKEN=secret